@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
.hello{
    color: red;
    background: url('./icon.jpg');
    font-family: 'Roboto';
}