body{
    font-family: garamond;
    background-color: lavender;
}
.container{
    width: 500px;
    height: 1000px;
}
.price-check{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxes-pricing{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
